#divSearchJournal{
    position: relative;
    left: 15%;
    width: 500px;
    height: 60px;
    border: 1px solid blue;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#divSearchJournal p{
    margin: 5px;
}
#divSearchJournal input{
    margin-left: 5px;
}
#textSearchJournal{
    width: 420px;
}
.divMessageJournal{
    position: relative;
    left: 15%;
    width: 600px;
    border: 1px solid black;
    margin: 5px;
   
}
.divMessageJournal h5{
    margin: 5px;
}
.divMessageJournal p{
    margin: 3px;
}