
body{
    
    width: 1100px;
}
#mainLogin{
       position: relative;
        top: 50%;
        left: 50%;
        width: 420px;
        height: 180px;
        margin-right: -50%;
        transform: translate(-50%,20%);
        margin-top: 10px;
        background-color: rgb(200,200,255);
        border-radius: 15px;
}
#mainLogin>h3{
    text-align: center;
}
#mainLogin form{
    margin-left: 30px;
}
#mainLogin form p{
    margin-bottom: 3px;
}
