/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.07.2019, 15:07:49
    Author     : Владимир
*/
body{
    position:absolute;
    width: 1100px;
    left: 50%;
    transform: translate(50,0);
}
h1{
    margin-bottom: 0px;
    margin-top: 0px;
}
#headDiv{
    background-color: rgb(200,200,200);
    border-radius: 10px;
    border: 1px solid gray;
    width: 100%;
    height: 50px;
    
}
#headIndexA,#headOptionA{
    position: absolute;
    display: inline;
    color: blue;   
    margin-top: -8px;
    font-size: 15pt;
}
#headIndexA{
    left: 2%;
    width: 100px;
    height: 60px; 
}
#headIndexA>p{
    text-align: center;
}
#headOptionA{
    left:1000px;
    width: 100px;
    height: 60px; 
}

main{
    border: 1px solid gray;
}
nav{
    position: absolute;
    height:200px;
    width: 80px;
    float:left;
    z-index: 5;
    margin-top: 10px;
    //background-color: red;
}
main{
       position: relative;
        top: 7px;
        left: 100px;
        width: 980px;
        height: 800px;       
        margin-top: 10px;
        //background-color: blue;
}
ul{
    padding-left: 0px;
    margin: 0px;
}
ul>li{
    list-style-type: none;
}
ul>li>div{
    
    border: 1px solid blue;
    margin: 6px 0px;
    //margin-left: 0px;
    
}
ul>li>div>a>p{
    margin:4px 0px;
}
#mainDiv{
    width:100%;
    height:70px;
}
#mainDivP{
    display: inline;
    position: absolute;
    width: 300px;
    margin-left:30px;
}
#PBalanse{
   display: inline;
    position: absolute;
    width: 300px;  
    left: 630px;
}
#divUTC{
    position: relative;
    left: 30px;
    top: 45px;
}
#divTimeCheck{
    position: relative;
    left: 30px;
    top: 45px;
}
#mainSpan{
    
}
table {
   border-collapse: collapse; 
   margin-left: 30px;
}
th{
    padding: 0px 5px;
}
td {
  border: 1px solid black; 
  padding: 4px;
  text-align: center;
}
/*table td:first-child{
    width:100px;
}*/
.imgBtn{
    cursor:pointer;
    
}
#paginator{
    position: relative;
    top: 65px;
    left:30px;
}

.divPaginator{
    display:inline-block;
    width:18px;
    height:18px; 
    border: 1px solid gray;
    margin: 2px 0px;
    
}
.divPaginator p{
    margin:0px;
    text-align: center;
}
.divPaginator a{
    text-decoration: none;
}
.divPaginChecked{
    background-color: rgb(100,100,200);
}
a{
    outline: none !important;
    text-decoration: none;
    color: #00C;
}