
main{
    height: 750px;
    width: 900px;
}
#formUrl{
    margin-left: 20px;  
}
#formUrl p{
    margin-bottom: 4px; 

}
#formUrl #urlPage{
    border: 1px solid gray;
    width: 250px;
}

#divDataPage h3{
    margin-top: 1px;
}
#divDataPageDB h3{
    margin-top: 1px;
}
#divCheckPage h4{
    margin-top: 1px;
}
#divContent{
    margin-top: 15px;
    width: 970px;
    height: 600px;
}
#divDataPage{
    padding-left: 20px;
    padding-top: 1px;
    border-right: 1px solid rgb(100,100,255);
    width: 330px;
    height: 600px;
    float: left;
}
#divDataPage2{
    margin-top:36px;
}
#divDataPage3{
    margin-top:24px;
}
#divDataPage p{
    margin-bottom: 2px; 
}
#divDataPageDB{
    padding-left: 15px;
    padding-top: 1px;
    width: 315px;
    height: 600px;
    border-right: 1px solid blue; 
    float: left;
}
#divCheckPage{
    float:left;
    padding-top: 1px;
    padding-left: 15px;
    width: 180px;
    height: 600px;
}
#divDataPageDB p{
    margin-bottom: 2px;
}
#responseP{
    margin-top: 32px;
}
#dataPageSize{
    border: 1px solid black;
}
 textarea{
    border: 1px solid black;
    margin: 2px 0px;
}
#formDataPageDB{
    margin-top: 10px;
    border: 1px solid white;
}
#divPageSizeDB{
    margin-top:-5px;
}
#divPageMetaDB{
    margin-top: 22px;
}
#btnTrancfer{
    position: relative;
    left: 335px;
    top: 5px;
}
#btnSaveDataPageInDB{
   position: relative;
    left: 85px;
    top: 8px;  
}
textarea{
    width:300px;
}